export PA_PB1_PDB=path-to-pdb.pdb
export COLABDESIGN_PARAMS_DIR=/path/to/af_params
export ENERGY_WEIGHTS_PATH=/path/to/energy_model_weights.json
export COLABDESIGN_RESULTS_DIR=/path/to/colabdesign_results
export BOLTZ_RESULTS_DIR=/path/to/boltz_results
export AF3_RESULTS_DIR=/path/to/af3_results
